---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Mi blog de aprendizaje sobre Astro";
const allPosts = await getCollection('blog');
---

<BaseLayout pageTitle={pageTitle}>
    <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost post={post} />)}
    </ul>
</BaseLayout>

    