---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Mi blog de aprendizaje sobre Astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
    <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost post={post} />)}
    </ul>
</BaseLayout>

    